.container {
  padding: 85px 0 10px 0;
}
.card {
  display: block;
  margin: 0 auto;

  width: 500px;
  padding: 0 0 15px 0;
  border: 1px solid black;
}
.actual-weather-icon {
  display: block;
  margin: 0 auto;
}
.list-group {
  display: block;
  margin: 0 auto;
  border-style: none;
  font-family: "DM Sans", sans-serif;
  padding: 10px;
}
.city {
  text-align: left;
  font-size: 25px;
  font-family: "DM Sans", sans-serif;
  font-weight: bold;
  padding: 10px 0px 0px 45px;
  margin: 0;
  max-width: 300px;
}
.day {
  text-align: left;
  font-size: 15px;
  font-family: "DM Sans", sans-serif;
  padding: 0px 0px 5px 45px;
  font-style: italic;
  max-width: 200px;
}
.actualTemperature {
  text-align: left;
  font-size: 45px;
  font-family: "DM Sans", sans-serif;
  font-weight: bold;
  padding: 12px 0px 10px 45px;
  margin: 0;
  max-width: 200px;
}
.wind {
  text-align: left;
  font-size: 15px;
  font-family: "DM Sans", sans-serif;
  padding: 0px 0px 20px 46px;
  font-style: italic;
  max-width: 200px;
}
.currentTime {
  text-align: center;
  font-size: 15px;
  font-family: "DM Sans", sans-serif;
  font-style: italic;
  max-width: 200px;
  padding: 10px 0 0 5px;
  margin: 0;
}
.weatherIcon {
  text-align: center;
  font-size: 70px;
  font-family: "DM Sans", sans-serif;
  padding: 0px 0px 0px 5px;
  margin: 0;
  max-width: 200px;
}
.weatherDescription {
  text-align: center;
  font-size: 16px;
  font-family: "DM Sans", sans-serif;
  padding: 0px 0px 0 5px;
  margin: 0;
  max-width: 200px;
}
.move {
  padding: 0 0 0 35px;
}
.footer {
  text-align: center;
  font-size: 12px;
}

.enterCityBtn {
  border: none;
}
